.my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }


#customButton{
    margin-top: 10px;
    margin-right: 20px;
}

#customButton1{
    margin-top: 10px;
    margin-left: 10px;
}